
<form #f="ngForm">
    <!-- <div *ngIf="locationInArr==0" >
        <button (click)="addTask()"> add tast</button>

    </div> -->

    <div *ngIf="show==true" style="width: 400px;border: solid 4px rgb(177, 98, 177); flex:2" >
        Title: {{allDataTask4.title}} <br>
        Completed: {{allDataTask4.completed}} &nbsp; &nbsp;
        <button value="{{locationInArr}}" #btn *ngIf="!allDataTask4.completed" (click)="taskCompleted(btn.value,allDataTask4.title)">Mission Accomplished</button>

        <!-- <button (click)="goo()" >goo</button> -->
        <!-- <input type="submit" value="Mission Accomplished"*ngIf="!tasksUser.completed" (click)="taskCompleted(task.title)"> -->
    </div>
</form>
<br>
<div>
    <app-add-to-do *ngIf="!show"></app-add-to-do>
</div>



    